{% extends 'Election/layout.html' %}

{% block body %}
<form method="post" id="puForm" url="{% url 'home' %}">
  {% csrf_token %}
  {{ form.media.js }}
  {{ form.as_p }}
  <input type="submit" value="Display Result">
</form>
<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
      text-align: left;
    }
    </style>
<div>
{% if PUs %}
    <table>
        <tr>
            <th>Party</th> 
            <th>Total Votes</th>    
          </tr>
        {% for PU in PUs %}
        <tr>
            <td>{{ PU.party_abbreviation }}</td>
            <td>{{ PU.party_score }}</td>
            
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
    
<div><a href ="{% url 'index' %}"> Back </a> </div>

{% endblock %}



